<amexio-card [footer]="true" [header]="true" [show]="true" [header-align]="'left'" [footer-align]="'right'">
    <amexio-header>
        Login
    </amexio-header>
    <amexio-body>
        <amexio-email-input [field-label]="'Email'" [(ngModel)]="firtsui.email" name="firtsui.email" [place-holder]="'Enter email id'" [allow-blank]="false" [error-msg]="'Please enter email id'" [font-size]="10" [has-label]="true">
        </amexio-email-input>
        <amexio-password-input [field-label]="'Password'" [(ngModel)]="firtsui.password" name="firtsui.password" [place-holder]="'enter password'" [allow-blank]="false" [error-msg]="'Please enter password'" [min-length]="0" [max-length]="20" [font-size]="10"
            [has-label]="true">
        </amexio-password-input>

    </amexio-body>

    <amexio-action>
        <amexio-button [label]="'login'" [type]="'theme-color'" [tooltip]="'login'" [size]="'default'" [form-bind]="'login'">
        </amexio-button>

    </amexio-action>
</amexio-card>